.topic-body {
  min-height: 150vh;
  .topic-body-title {
    max-width: 60%;
    margin: 0.1rem 0 4rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 136.5%;
    color: var(--normal-text-color);
  }

  .loading-spinner {
    width: 65%;
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 992px) {
  .topic-body {
    .topic-body-title {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .topic-body {
    .topic-body-title {
      max-width: 100%;
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .topic-body {
    .topic-body-title {
      font-size: 23px;
    }
  }
}
