.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-color);
  height: 35rem;
}

.home-body {
  position: relative;
  margin-top: 15rem;
  min-height: 100vh;
}
