.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-color);
  height: 35rem;
}

.home-body {
  position: relative;
  margin-top: 8rem;
  min-height: 150vh;

  .loading-spinner {
    width: 75%;
    height: 20rem;
  }
}

@media only screen and (max-width: 992px) {
  .cards {
    height: 45rem;
    flex-direction: column;
  }
} /*1200 992 768 600 425*/
