#title {
  font-weight: bold;
  margin: 3rem 0 6rem 0;
  font-size: 3rem;
}

#content {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#author {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  img {
    max-height: 100%;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 100%;
  }
  h4 {
    font-weight: 700;
    color: var(--primary-bg);
    background-color: var(--primary-color);
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
  }
}
