// ui-components CSS
@import "/node_modules/@minteeble/ui-components/dist/css/style.css";

// Components
@import "/src/components/components.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--secondary-bg);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-hover);
  }
}

strong {
  font-weight: bold;
}

img {
  border-radius: 1rem;
  max-width: 100%;
  width: unset;
  height: unset;
}

.app-body {
  margin: 0 9%;
  position: relative;
}

.footer-copyright {
  @extend .montserrat !optional;
}

.footer-wrapper-privacy {
  @extend .spaced !optional;
}
