// ui-components CSS
@import "/node_modules/@minteeble/ui-components/dist/css/style.css";

// Components
@import "/src/components/components.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "in  ";
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: var(--secondary-bg);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-hover);
  }
}

strong {
  font-weight: bold;
}
