.topic-article {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;

  img {
    height: 15rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
  }

  h2 {
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  .author {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 2rem;

    img {
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 100%;
    }
  }
}
