.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &:hover .cta-line {
    width: 100%;
  }

  .cta-text {
    font-weight: 800;
  }

  .cta-line {
    background: var(--primary-color);
    height: 0.3rem;
    width: 70%;
    margin-top: 0.3rem;
    transition: all ease-in 0.2s;
  }
}
