.preview {
  width: 70%;
  height: 15.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5.6rem;
  overflow: hidden;

  .preview-wrapper {
    min-width: 27.4rem;
    height: 15.4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--border-color);
    .preview-wrapper-img {
      width: 100%;
    }
  }

  .preview-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15.4rem;

    .preview-info-topic {
      margin-bottom: 1rem;
      color: var(--light-text-color);
    }

    .preview-info-title {
      margin-bottom: 1rem;
      line-height: 1.5rem;
      color: var(--normal-text-color);
    }

    .preview-info-content {
      text-align: justify;
      color: var(--normal-text-color);
      p {
        display: none;
      }
      p:first-child {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 70%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.1rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .preview {
    height: 12.5rem;
    width: 65%;

    .preview-wrapper {
      min-width: 22.2rem;
      height: 12.5rem;
      margin-right: 1rem;
    }

    .preview-info-topic {
      font-size: 0.9rem;
      margin-bottom: 0.4rem !important;
    }

    .preview-info-title {
      font-size: 1.3rem;
      margin-bottom: 0.6rem !important;
      line-height: 1.3rem !important;
    }

    .preview-info-content {
      p:first-child {
        font-size: 0.8rem !important;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .preview {
    height: 10rem;
    width: 65%;
    margin-bottom: 3rem;

    .preview-wrapper {
      min-width: 17.7rem;
      height: 10rem;
      margin-right: 1rem;
    }

    .preview-info {
      height: 10rem;

      .preview-info-topic {
        font-size: 0.9rem;
        margin-bottom: 0.4rem;
      }

      .preview-info-title {
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
        line-height: 1.3rem;
      }

      .preview-info-content {
        p:first-child {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .preview {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .preview {
    height: 33rem;
    flex-direction: column;
    align-items: center;
    background: var(--primary-bg);
    border-radius: 1rem;
    padding: 2rem;
    .preview-wrapper {
      min-width: unset;
      width: 100%;
      height: fit-content;
      margin-bottom: 1rem;
      margin-right: unset;
    }

    .preview-info-topic {
      font-size: 0.7rem;
      margin-bottom: 0.3rem;
    }

    .preview-info-title {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
      line-height: 1.1rem;
    }

    .preview-info-content {
      p:first-child {
        font-size: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .preview {
    height: 30rem;
    flex-direction: column;
    align-items: center;
    background: var(--primary-bg);
    border-radius: 1rem;
    padding: 2rem;

    .preview-info-topic {
      font-size: 0.6rem;
      margin-bottom: 0.3rem;
    }

    .preview-info-title {
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
      line-height: 1.1rem;
    }

    .preview-info-content {
      height: 7rem;
      p:first-child {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .preview {
    height: 27rem;
    flex-direction: column;
    align-items: center;
    background: var(--primary-bg);
    border-radius: 1rem;
    padding: 1.5rem;

    .preview-info-topic {
      font-size: 0.55rem !important;
      margin-bottom: 0.3rem !important;
    }

    .preview-info-title {
      font-size: 0.75rem !important;
      margin-bottom: 0.4rem !important;
      line-height: 1.1rem !important;
    }

    .preview-info-content {
      p:first-child {
        font-size: 0.65rem !important;
      }
    }
  }
}
