.preview {
  width: 70%;
  height: 15.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5.6rem;
  overflow: hidden;

  .preview-wrapper {
    min-width: 27.4rem;
    width: 27.4rem;
    height: 15.4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    .preview-wrapper-img {
      width: 100%;
    }
  }

  .preview-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15.4rem;

    .preview-info-topic {
      margin-bottom: 1rem;
    }

    .preview-info-title {
      margin-bottom: 1rem;
    }

    .preview-info-content {
      text-align: justify;
      margin-bottom: auto;
      p {
        display: none;
      }
      p:first-child {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.1rem;
      }
    }
  }
}
