.nextprev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;

  .nextprev-link {
    background: var(--border-color);
    color: var(--normal-text-color);
    padding: 0.3rem;
    width: 30%;

    .nextprev-link-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;

      .nextprev-link-body-text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 129.9%;
        .nextprev-link-body-text-arrow {
          color: var(--light-text-color);
        }
      }
      .nextprev-link-body-line {
        height: 0.3rem;
        width: 70%;
        background: var(--primary-color);
        transition: all ease-in 0.2s;
      }

      &:hover .nextprev-link-body-line {
        width: 100%;
      }
    }

    .dx {
      align-items: flex-end;
      float: right;
    }
  }

  .disabled {
    pointer-events: none;
    visibility: hidden;
  }
}
