.article-body {
  max-width: 70%;

  .article-body-topic {
    margin-bottom: 2rem;
    color: var(--light-text-color);
  }

  .article-body-title {
    margin-bottom: 0.6rem;
  }

  .article-body-date {
    color: var(--light-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.095em;
  }

  .article-body-featured,
  .article-body-content img {
    margin: 4rem 0;
  }

  .article-body-content {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.095em;
    figcaption {
      display: none;
    }
  }

  .article-body-share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 4rem 0;

    .article-body-share-title {
      color: var(--light-text-color);
      margin-bottom: 1rem;
    }

    .article-body-share-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -1%;
      margin-bottom: 1rem;

      .article-body-share-social-item {
        position: relative;
        transition: all 0.15s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .article-body-share-line {
      background: var(--primary-color);
      width: 70%;
      height: 0.3rem;
    }
  }

  .article-body-related {
    .article-body-related-title {
      color: var(--light-text-color);
      margin-bottom: 4rem;
    }
  }
}
