.article-body {
  max-width: 60%;
  overflow: auto;

  .img-spinner {
    .loading-spinner {
      background: var(--border-color);
      height: 25rem;
      width: 100%;
      border-radius: 1rem;
      margin: 2rem 0;
    }
  }

  .main-spinner {
    .loading-spinner {
      margin-top: 10vh;
      margin-bottom: 140vh;
    }
  }

  .article-body-topic {
    margin-bottom: 1.5rem;
    color: var(--light-text-color);
  }

  .article-body-title {
    margin-bottom: 0.6rem;
    line-height: 2rem;
    color: var(--normal-text-color);
  }

  .article-body-date {
    color: var(--light-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.095em;
  }

  .article-body-featured,
  .article-body-content img {
    margin: 2rem 0;
  }

  .article-body-content {
    letter-spacing: 0.06em;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.45;
    color: var(--normal-text-color);
    p {
      margin-bottom: 1.3rem;
    }
    h2 {
      margin: 4rem 0 2rem 0;
      width: fit-content;
      text-align: left;

      &:after {
        content: "";
        margin-top: 0.5rem;
        display: block;
        height: 0.3rem;
        width: 70%;
        background: var(--primary-color);
      }
    }
    h3,
    h4,
    h5,
    h6 {
      @extend h2;
      margin: 0 0 0.5rem 0;
      &::after {
        height: 0.2rem;
      }
    }
  }
  figcaption {
    display: none;
  }

  .article-body-share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 4rem 0;

    .article-body-share-title {
      color: var(--light-text-color);
      margin-bottom: 1rem;
    }

    .article-body-share-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -1%;
      margin-bottom: 1rem;

      .article-body-share-social-item {
        position: relative;
        transition: all 0.15s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .article-body-share-line {
      background: var(--primary-color);
      width: 70%;
      height: 0.3rem;
    }
  }
}
.article-body-related {
  width: 100%;
  .article-body-related-title {
    color: var(--light-text-color);
    margin-bottom: 4rem;
  }

  .article-body-related-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem;
    color: var(--normal-text-color);
    .article-body-related-wrapper-placeholder {
      text-align: left;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .article-body {
    max-width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .article-body {
    .article-body-topic {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
    .article-body-title {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 425px) {
  .article-body {
    .article-body-topic {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
    .article-body-title {
      font-size: 1.4rem;
    }
  }
}
